html {
    width: 100vw;
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    min-height: 6000px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;
    background-color: #00252E;
    overflow-x: hidden;
    font-family: Open Sans;
}

main {
    background-image: url("../Media/Mega_Photo.jpg");
    width: 100vw;
    height: 6000px;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.harbor {
    height: 1920px;
    width: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}

#harbor-1 {
    background-image: url("../Media/muelle1.png");
    background-position-y: -390px;
    
}

#harbor-2 {
    background-image: url("../Media/muelle.png");
    background-position-y: 420px;
}

#preload {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
}

#boat {
    width: 300px;
    height: 600px;
    background-image: url("../Media/Bote.gif ");
    background-size: 300px 600px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: calc(50% - 175px);
    animation-name: swing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
    /* border-style: solid; */
}

#mute {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    width: 5em;
    text-align: center;
    z-index: 4;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
}

#mute:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#mute:active {
    background-color: rgba(0, 0, 0, 0.75);
}



@keyframes swing {
    from {
        left: calc(50% - 175px - 15px);
    }
    to {
        left: calc(50% - 175px + 15px);
    }

}