body {
    width: 100vw;
    min-height: 6000px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

main {
    background-color: cadetblue;
    width: 100vw;
    min-height: 6000px;
    padding: 0;
    margin: 0;
    position: fixed;
    top: -500px;
    display: flex;
    flex-direction: column;
}

.wave {
    width: 1920px;
    height: 6000px;
    background-image: url("../Media/Mega_Photo.jpg");
}

#boat {
    width: 350px;
    height: 700px;
    background-image: url("../Media/Bote.gif ");
    background-size: 350px 700px;
    position: fixed;
    top: 0;
    left: calc(50% - 200px);
    animation-name: swing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
}


}

@keyframes swing {
    from {
        left: calc(50% - 200px - 15px);
    }
    to {
        left: calc(50% - 200px + 15px);
    }
}