html {
    width: 100vw;
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    min-height: 6000px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;
    background-color: #00252E;
    overflow-x: hidden;
}

main {
    background-color: cadetblue;
    width: 100vw;
    min-height: 6000px;
    padding: 0;
    margin: 0;
    position: fixed;
    top: -500px;
    display: flex;
    flex-direction: column;
}

#preload {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
}

.wave {
    width: 100vw;
    height: 6000px;
    background-image: url("../Media/Mega_Photo.jpg");
}

#boat {
    width: 350px;
    height: 700px;
    background-image: url("../Media/Bote.gif ");
    background-size: 350px 700px;
    background-position: -100px -100px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: calc(50% - 100px);
    animation-name: swing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.3, 0, 0.7, 1);
}

}

@keyframes swing {
    from {
        left: calc(50% - 100px - 15px);
    }
    to {
        left: calc(50% - 100px + 15px);
    }

}